**/Object_files/*
*.out 
lib/* 
build/* 
docs/*
src/Object_files/*
stream/run_dir/*
lib/*.so 
stream/test
stream/Object_files/*
!stream/run_dir/*.sh
!stream/run_dir/*.slurm 
test/TEST_OUTPUT/*
**/*.swp 



