**/Object_files/*
*.out 
lib/* 
build/* 
docs/latex/**
src/Object_files/*
stream/run_dir/*
lib/*.so 
stream/test
stream/*+pat
stream/Object_files/*
!stream/run_dir/*.sh
!stream/run_dir/*.slurm 
test/TEST_OUTPUT/*
test/test
test/*+pat
**/*.swp 
localruns/*
visuals/**


